<%- include('../partials/header') %>

<h2>Plant List</h2>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Origin</th>
      <th>Water Requirements</th>
      <th>Sunlight Requirements</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% plants.forEach(function(p) { %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.type %></td>
        <td><%= plant.origin %></td>
        <td><%= plant.waterRequirement %></td>
        <td><%= plant.sunlightRequirements %></td>
        <td><a href="/plants/<%= p._id %>">DETAILS</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>
  
<%- include('../partials/footer') %>
